<div class="container">
  
  <h1 class="title">⚽ Gestor de Liga Amateur</h1>

  <div class="card">
    <h3>Inscribir Equipo</h3>
    
    <input type="text" [(ngModel)]="newTeamName" placeholder="Nombre del equipo" style="width: 80%;">

    <div style="margin-top: 10px;">
      <input type="text" [(ngModel)]="newPlayerName" placeholder="Nombre del jugador">
      <button (click)="addPlayerToList()" class="btn-add">+ Añadir</button>
    </div>

    <p><i>Jugadores añadidos: {{ tempPlayers.join(', ') }}</i></p>

    <button (click)="saveTeam()" class="btn-save">
      GUARDAR EQUIPO EN LA LIGA
    </button>
  </div>

  <div>
    <h3>Equipos en la Liga ({{ teams.length }})</h3>
    
   <!--<div *ngFor="let team of teams | orderByPoints" class="team-card">
    --> 
@for (team of teamsOrdered; track $index) {
  <div class="team-card">

    <button (click)="deleteTeam(team.id)" class="btn-delete">X</button>

    <h4>{{ team.name }}</h4>
    <p><b>Jugadores:</b></p>

<ul>
  @for (player of team.players; track $index) {
    <li>{{ player }}</li>
  }
</ul>


    <div style="margin-top: 10px;">
      <b>Puntos:</b> {{ team.puntos }}
      <button (click)="sumarPunto(team)" class="btn-plus">+1</button>
      <button (click)="restarPunto(team)" class="btn-minus">-1</button>
    </div>

  </div>
}

  </div>
      

      


